Repository apache/flink-connector-aws, pull requests merged in 2023-03, with the labels that each got.

#42 [FLINK-30229] Add SQL IT case for DynamoDB Sink
  flink-connector-dynamodb/pom.xml
  flink-connector-dynamodb/src/test/java/org/apache/flink/connector/dynamodb/table/DynamoDbDynamicSinkITCase.java
  flink-connector-dynamodb/src/test/resources/create-table.sql
  flink-connector-dynamodb/src/test/resources/datagen.sql
Labels: component=BuildSystem, component=Connectors/DynamoDB

#61 [hotfix][Connectors/AWS] Update current year in NOTICE files
  NOTICE
  flink-sql-connector-dynamodb/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/DynamoDB

#60 [hotfix][Connectors/AWS] Update current year in NOTICE files
  NOTICE
  flink-connector-kinesis/src/main/resources/META-INF/NOTICE
  flink-sql-connector-aws-kinesis-firehose/src/main/resources/META-INF/NOTICE
  flink-sql-connector-aws-kinesis-streams/src/main/resources/META-INF/NOTICE
  flink-sql-connector-dynamodb/src/main/resources/META-INF/NOTICE
  flink-sql-connector-kinesis/src/main/resources/META-INF/NOTICE
Labels: component=Connectors/DynamoDB

#63 [hotfix][ci] Update Flink versions in CI builds
  .github/workflows/nightly.yml
  .github/workflows/push_pr.yml
Labels: component=BuildSystem
